<div class='carForm' style="border-color: #a94442;">
    <form name="carForm" #carForm="ngForm">





        <hr/>

        Brand : <input type='text' [(ngModel)]="car.make" name="make"/><br/>
        Model : <input type='text' [(ngModel)]="car.model" name="model"/><br/>
        Year : <input type='number' [(ngModel)]="car.year" name="year"/><br/>
        DISTANCE : <input type='number' [(ngModel)]="car.distance" name="distance"/><br/>
        PRICE : <input type='number' [(ngModel)]="car.price" name="price"/><br/>


        <!--<input type='button' value='Upload Car Information' (click)='addCar();'/>-->


        <input type='button' value='Add Car' (click)='addCarForCustomer();' />
    </form>

    <!--<h1>Click here!</h1>-->

    <!--<input type="button" value="ADD CAR" (click)="addCarFromCustomer();" />-->
</div>