<div class="container" style="width:100%;text-align:center;">
    <div class="jumbotron" >
        <h1>{{title}}</h1>
        <p>CAR EXCHANGE MADE EASY</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="text-align: center;">
            <a routerLink="sellCar" style="color: white;">SELL CAR</a>
        </div>

        <div class="col-md-4" style="text-align: center;">
            <a routerLink="carlist" style="color: white;">FIND CARS</a>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <a routerLink="carlist" style="color: white;">BUY CAR</a>
        </div>
    </div>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>
