<div style="font-family: Oswald">
    <div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="w3-third">
                <h4>MAKE : </h4>
                <select (click)="displayMakes();" name="searchMake" placeholder="BRAND" [(ngModel)]="searchMake"
                        style="width: 30%;">
                    <option *ngFor="let make of make" value="{{make}}">{{make}}</option>
                </select>
            </div>

            <div class="w3-third">
                <h4>MODEL : </h4>
                <select class="w3-third" (click)="displayModels();" name="searchModel" placeholder="MODEL"
                        [(ngModel)]="searchModel" style="width: 30%;">
                    <option *ngFor="let model of model" value="{{model}}">{{model}}</option>
                </select>
            </div>

            <div class="w3-third">
                <h4>MAXIMUM PRICE IN INR : </h4>
                <input class="w3-third" type="text" [(ngModel)]="searchPrice" style="width: 30%;"/>
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
    <div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="w3-third"></div>
            <div class="w3-third">
                <input class="w3-black w3-half w3-bar" type="button" value="FIND CARS" (click)="getCars();" />
            </div>
            <div class="w3-third"></div>

        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="w3-container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table *ngFor="let car of cars" class="w3-table carList" >
                <br>
                <br>
                <tr>
                    <td rowspan="4" style="width: 300px; height: 250px"><img src={{car.image}} style="width: 100%; height: 100%"></td>
                    <td><p style="font-size: 25px;">Make : {{car.make}}</p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><p style="font-size: 25px;">Model :{{car.model}}</p></td>
                    <td rowspan="2"><input class="w3-black w3-bar" type="button" (click)="detailedCar(car);" value="SELECT" style="height: 45px;"></td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td><p style="font-size: 25px;">Price :{{car.price}}</p></td>
                </tr>
                <tr>
                    <td><p style="font-size: 25px;">Year :{{car.year}}</p></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <input class="w3-black w3-bar" type="button" *ngIf="this.buttonView" (click)="proceedCar();"
                   value="Show Details" style="height: 45px;">


        </div>
    </div>
</div>