<div style="font-family: Oswald">

    <div class="col-md-2"></div>
    <div class="w3-half">
        <img src={{this.carImage}} style="width: 70%; height: 70%">
    </div>
    <div class="w3-rest">
        <h1>CAR : {{this.make}} {{this.model}}</h1>
        <h1>CAR PRICE : Rs. {{this.price}} </h1>
        <h1>CAR IS {{this.age}} YEARS OLD AND HAS TRAVELLED {{this.distance}} kms.</h1>
        <input class="w3-black w3-bar" type="button" (click)="buy();" value="CHECKOUT">
    </div>
</div>

<!--<div>-->
<!--<div class="col-md-1"></div>-->
<!--<div class="col-md-4">-->
<!--<h1>CAR : {{this.make}} {{this.model}}</h1>-->
<!--<h1>CAR AGE : {{this.distance}} kms</h1>-->
<!--<h1>CAR AGE : {{this.age}} years</h1>-->
<!--<h1>CAR PRICE : Rs. {{this.price}} </h1>-->
<!--</div>-->
<!--<div class="col-md-5">-->
<!--<input type="button" (click)="buy();" value="BUY">-->
<!--</div>-->
<!--<div class="col-md-2"></div>-->

<!--</div>-->


<!--<input type="button" (click)="exchange();" value="EXCHANGE"><br>-->

